/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-s
}

body {
    background-color: #0ab9c5;
}

/* Estilos do Cabeçalho */
header {
    position: sticky;
    top: 0;
    background-color: #ac4848;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

nav a:last-child {
    background-color: #0ab9c5;
    padding: 30px;
}

nav a:hover {
    background-color: #0ab9c5;
    color: black;
    padding: 50px;
}

/* Estilo da Seção Poema */
#poema {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #0ab9c5;
    flex-direction: column;
    text-align: center;
}

#poema p:first-child {
    font-style: italic;
}

#poema p {
    white-space: pre-line;
}

/* Estilo da Seção Paisagem */
#paisagem div {
    position: relative;
}

#paisagem img {
    width: 100vw;
}

#paisagem p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

/* Estilo da Seção Capitais */
#cidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0ab9c5;
}

#cidades section {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cidades img {
    width: 100px;
    border-radius: 20px 0 0 20px;
}

#cidades div {
    background-color: #ac4848;
    width: 100px;
    height: 100%;
    text-align: center;
    border-radius: 0 20px 20px 0;
    align-content: center;
}

#cidades section:hover div {
    background-color: #ddd;
}

/* Seção de Experimentação */
#experimenta {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#experimenta div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50px;

    visibility: hidden;
    background-color: #a9f5ff;
}

#experimenta:hover div {
    visibility: visible;
}


.hidden-hover {
    visibility: hidden;
}

.hidden-hover:hover {
    visibility: visible;
}

.parallax {
    background-image: url('images/tokyo.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.parallax-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.gallery-item {
    margin: 10px;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
}

.gallery-item div{
    text-align: center;
    color: white;
}

.gallery-item:nth-child(2) img:hover {
    border-radius: 150px;
    transition: 3s;
}

.gallery-item:nth-child(3) img:hover {
    transform: rotate(180deg);
    transition: 3s;
}

.gallery-item:nth-child(5) img:hover {
    transform: scaleX(-1);
    transition: 3s;
}

.gallery-item:nth-child(6) img:hover {
    transform: translate(50px, 100px);
    transition: 3s;
}

.gallery-item:nth-child(8) img:hover {
    filter: blur(5px);
    transition: 2s;
}

.gallery-item:nth-child(9) img:hover {
    transform: skew(20deg, 10deg);
    transition: 2s;
}

.gallery-item:nth-child(11) img:hover {
    filter: hue-rotate(90deg);
    transition: 2s;
}

.gallery-item:nth-child(12) img:hover {
    transform: scale(1.5);
    transition: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    animation: fadeIn 2s ease-in-out;
}